{
  height: 100%;
}
body {
  background-color: #ede9e0;
  

}

.meny-container {
  display: flex;
 background-color: #47d11d;
  height: 50px;
  width: 100%;

}
.meny-container a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.meny-container a:hover {
  background-color: #ddd;
  color: black;
}
.line-container {
  display: flex;

  background-color: #030303;
  height: 3px;
  width: 100%;
}
.blid{
  display: flex;
  height: 100%;
width: 100%;
}
.aktuelt {

margin-left: 45%;
}
.flexbox-container {
  display: flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: space-around;

  background-color: #ede9e0;
  margin: auto;
  height: 100%;
  width: 100%;
  margin-top: 5%;

}

.flexbox-item1 {
  margin: 0%;
  height: 300px;
  width: 350px;
  background-color: #dfcbb5;
}
.flexbox-item2 {
  margin: 0%;
  height: 300px;
  width: 350px;
  background-color: #dfcbb5;
}

.flexbox-item3 {
  margin: 0%;
  height: 300px;
  width: 350px;
  background-color: #dfcbb5;
}
@media (max-width: 65rem) {
.flexbox-item1{
  margin: 5%;}
  .flexbox-item2{
    margin: 5%;}
    .flexbox-item3{
      margin: 5%;}





}









  .flexbox-container2 {
  display: flex;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  background-color: #ede9e0;
  height: 100%;
  width: 100%;
  margin: auto;
  
}
  .flexbox-item4 {
 margin: 5%;
  height: 200px;
  width: 200px;
  background-color: #dfcbb5;
  align-content: space-between;
}
.flexbox-item5 {
  margin: 5%;
  width: 200px;
  height: 200px;
  background-color: #dfcbb5;
}

.flexbox-item6 {
  margin: 5%;
  width: 200px;
  height: 200px;
  background-color: #dfcbb5;
}
.flexbox-item7 {
  margin: 5%;
  height: 200px;
  width: 200px;
  background-color: #dfcbb5;
}
.flexbox-item8 {
  margin: 5%;
  margin-right: ;
  width: 200px;
  height: 200px;
  background-color: #dfcbb5;
}

.flexbox-item9 {
  margin: 5%;
  width: 200px;
  height: 200px;
  background-color: #dfcbb5;
}



.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}