html body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
   background-color: #ede9e0;
  
}
body{
  font-family: "Trirong", serif;
}

.meny-container {
 background-color: #47d11d;
  height: 50px;
  width: 100%;

}
.meny-container a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.meny-container a:hover {
  font-weight: 100;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.line-container {
  background-color: #030303;
  height: 10px;
  width: 100%;
}
.bakgrund{
  background-image: url(../img/download.jpg);
  display: flex;
height: 100vh;
 background-size: 100%;
 background-repeat: no-repeat;
 position: relative;
 text-align: center;
 color: rgb(0, 0, 0);
}
h1{

  position: absolute;
  bottom: 8px;
  left: 16px;
}

.aktuelt {
align-content: center;
}

.flexbox-container {
  display: flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  justify-content: space-around;

  background-color: #ede9e0;
  margin: auto;
  height: 100%;
  width: 100%;
  margin-top: 5%;

}
.bottom-left {
  font-size: x-large;
  position: absolute;
  top: 300px;
  left: 16px;}

.flexbox-item1 {
  margin: 0%;
  height: 500px;
  width: 350px;
  background-color: #dfcbb5;
}
.flexbox-item2 {
  margin: 0%;
  height: 500px;
  width: 350px;
  background-color: #dfcbb5;
}


.flexbox-item3 {
  image-rendering: auto;
  margin: 0%;
  height: 500px;
  width: 350px;
  background-color: #dfcbb5;
  
}
@media (max-width: 65rem) {
.flexbox-item1{
  margin: 5%;}
  .flexbox-item2{
    margin: 5%;}
    .flexbox-item3{
      margin: 5%;}
      .flexbox-container{
      }

}


  .flexbox-container2 {
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  background-color: #ede9e0;
  height: 100%;
  width: 100%;
  margin: auto;
  
}
  .flexbox-item4 {
 margin: 5%;
 width: 250px; 
 height: 350px;
  background-color: #ede9e0;
  align-content: space-between;
}
.flexbox-item5 {
  margin: 5%;
  width: 250px; 
  height: 300px;
  background-color: #ede9e0;
  justify-content: center;
}

.flexbox-item6 {
  margin: 5%;
  width: 250px;
  height: 300px;
  background-color: #ede9e0;
}
.flexbox-item7 {
  margin: 5%;
  height: 300px;
  width: 250px;
  background-color: #ede9e0;
}
.flexbox-item8 {
  margin: 5%;
  width: 250px;
  height: 300px;
  background-color: #ede9e0;
}

.flexbox-item9 {
  font-display: ;
  margin: 5%;
  width: 250px;
  height: 300px;
  background-color: #ede9e0;
}
@media (max-width: 40rem) {
.flexbox-container2{
  justify-content: center;
}



.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  height: 50px;
}
.text-container{
  display: flex;
  }
.text1{
  display: flex;
 align-content: center;
 text-align: center;

}